[submodule "planning"]
	path = planning
	url = https://github.com/unipi-smartapp-2021/planning
[submodule "SLAM"]
	path = SLAM
	url = https://github.com/unipi-smartapp-2021/SLAM.git
[submodule "actuators-control"]
	path = actuators-control
	url = https://github.com/unipi-smartapp-2021/actuators-control.git
[submodule "KB-backbone"]
	path = KB-backbone
	url = https://github.com/unipi-smartapp-2021/KB-backbone.git
[submodule "KB-logging"]
	path = KB-logging
	url = https://github.com/unipi-smartapp-2021/KB-logging.git
